.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.paragraph1{
  padding: 0 2rem;
  color: blue;
  font-weight:bold;
  background-color: gainsboro
}

.paragraph2{
  margin: 2rem;
  color:indigo;
  font-size: medium;
  text-align: center;
  background-color:gainsboro
}

.profile{
  width: 250px;
  height:350px
}

.rowList{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.title{
  display: flex;

  font-size: 3rem;
  font-weight: bold;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 3rem
}
.background{
  background-color: #f4f6f7
}


.firstName{
  font-size: 1rem;
}

.lastName{
  font-size: 1rem;
  font-weight: bold;
}

.infos{
  font-size: 1.2rem;
  color:#696969
}